@model List<IndexViewModel>
@{
    ViewData["Title"] = "闲聊";
}

<div class="text-center">
    <h1 class="display-4">闲聊</h1>
</div>
<br />
<ul class="nav nav-pills bg-light">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">全部留言</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Selected">精选留言</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="Gossip">闲聊</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="SeekHelp">求助</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="TreeHole">树洞</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            排序方式
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Home" asp-action="GossipTime">按时间</a>
            <a class="dropdown-item" asp-controller="Home" asp-action="GossipLike">按热度</a>
        </div>
    </li>
</ul>

@* 卡片 *@
@foreach (var post in Model)
{
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="home" asp-action="detail" asp-route-id="@post.PostId" style="text-decoration:none; color:black">
                    @post.Title &nbsp;
                </a>
            </h4>
            <p class="card-text">@post.Condensed...</p>
            <div>
                <a href="/home/detail/@post.PostId#lc" class="card-link">点赞(@post.LikeCount)</a>
                <a href="/home/detail/@post.PostId#lc" class="card-link">评论(@post.CommentCount)</a>
                <span class="small text-right text-muted" style="float:right">由 @post.UserName 发布于 @post.TimeStamp</span>
            </div>
        </div>
    </div>
}
@* 分页 *@
<br />
<div class="container">
    <ul class="pagination justify-content-center">
        @if (ViewBag.CurrentIndex == 1)
        {
            <li class="page-item disabled"><a class="page-link">上一页</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-controller="home" asp-action="gossip" asp-route-pageIndex="@(ViewBag.CurrentIndex - 1)">上一页</a></li>
        }
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i == ViewBag.CurrentIndex)
            {
                <li class="page-item active"><a class="page-link" asp-controller="home" asp-action="gossip" asp-route-pageIndex="@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-controller="home" asp-action="gossip" asp-route-pageIndex="@i">@i</a></li>
            }
        }
        @if (ViewBag.CurrentIndex == ViewBag.PageCount)
        {
            <li class="page-item disabled"><a class="page-link">下一页</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-controller="home" asp-action="gossip" asp-route-pageIndex="@(ViewBag.CurrentIndex + 1)">下一页</a></li>
        }
    </ul>
</div>