@model IEnumerable<IndexViewModel>
@{
    ViewData["Title"] = "搜索";
}

<div class="text-center">
    <h1 class="display-4">欢迎来到 WUST Zone</h1>
</div>
<br />

<div class="navbar-collapse collapse d-sm-inline flex-sm-row-reverse">
    <ul class="nav nav-pills bg-light">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="Index">全部留言</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Selected">精选留言</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Gossip">闲聊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="SeekHelp">求助</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="TreeHole">树洞</a>
        </li>

        @*分页以及排序不知道怎么弄，因为要获取表单的输入内容*@
        <!-- Dropdown -->
       @* <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                排序方式
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Home" asp-action="SearchTime">按时间</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="SearchLike">按热度</a>
            </div>
        </li>
        <form method="post" class="form-inline" >
            <div class="input-group mb-3">
                <input  id="inputTitle" type="text" class="form-control" placeholder="搜索标题" asp-for="Title">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" asp-controller="home" asp-action="search" >Go</button>
                </div>
            </div>
        </form>*@
    </ul>
</div>

@* 卡片 *@
@foreach (var post in Model)
{
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="home" asp-action="detail" asp-route-id="@post.PostId" style="text-decoration:none; color:black">
                    @post.Title &nbsp;
                </a>
                <small>
                    @switch (post.Category)
                    {
                        case "闲聊":<span class="badge badge-primary">闲聊</span> break;
                        case "求助": <span class="badge badge-danger">求助</span>break;
                        case "树洞": <span class="badge badge-success">树洞</span>break;
                        default: <span class="badge badge-secondary">默认</span>break;
                    }
                    @if (post.IsSelected)
                    {
                        <span class="badge badge-warning">精选</span>
                    }
                </small>
            </h4>
            <p class="card-text">@post.Condensed...</p>
            <div>
                <a href="/home/detail/@post.PostId#lc" class="card-link">点赞(@post.LikeCount)</a>
                <a href="/home/detail/@post.PostId#lc" class="card-link">评论(@post.CommentCount)</a>
                <span class="small text-right text-muted" style="float:right">
                    @if (post.Category != "树洞")
                    {

                        @("由 ") @post.UserName
                    }
                    发布于 @post.TimeStamp
                </span>
            </div>
        </div>
    </div>
}

 @*分页 *@
<!--<br />
<div class="container">
    <ul class="pagination justify-content-center">
        @*@if (ViewBag.CurrentIndex == 1)
        {
            <li class="page-item disabled"><a class="page-link">上一页</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-controller="home" asp-action="index" asp-route-pageIndex="@(ViewBag.CurrentIndex - 1)">上一页</a></li>
        }
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i == ViewBag.CurrentIndex)
            {
                <li class="page-item active"><a class="page-link">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-controller="home" asp-action="index" asp-route-pageIndex="@i">@i</a></li>
            }
        }
        @if (ViewBag.CurrentIndex == ViewBag.PageCount)
        {
            <li class="page-item disabled"><a class="page-link">下一页</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-controller="home" asp-action="index" asp-route-pageIndex="@(ViewBag.CurrentIndex + 1)">下一页</a></li>
        }*@
    </ul>
</div>-->
